# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/lib

# misc
.DS_Store
yarn-debug.log*
yarn-error.log*
release.md
