ul {
  padding-left: 22px;
}

ul li {
  position: relative;
}

ul li::before {
  position: absolute;
  content: "\2022";
  color: #5246f7;
  font-weight: bold;
  width: 1em;
  margin-left: -1em;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}
